
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GjeneroKontraten</title>
</head>
<body>
    <h1>Kjo eshte nje kontrate pune?</h1>
</body>
</html>
