
@{
    ViewData["Title"] = "PagesatEperfunduar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "Kontrollo";

}

<h1>Pagesat e perfunduar</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Data e pageses</th>
            <th scope="col">Data e kryerjes se pageses</th>
            <th scope="col">Pagesa Neto</th>
            <th scope="col">Pagesa Bruto</th>       
    </thead>
    <tbody>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
    </tbody>
</table>