@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- Modal -->
<div class="modal fade" id="kontrolloModal" tabindex="-1" role="dialog" aria-labelledby="kontrolloModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kontrolloModalTitle">Kujdes!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ju lutem afroni kartelen e punetorit aktiv ne RFID Scanner!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll</button>
                <a class="btn btn-primary" asp-controller="Employee" asp-action="Kontrollo" asp-route-id="1" role="button">Kontrollo</a>
            </div>
        </div>
    </div>
</div>